---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

## Instructor
SOC/STAT 221 (Statistical Methods for the Social Sciences)   \hfill Sum2020

## Teach Assistant
SOC 225 (Data and Society), Lab section (Introduction to RStudio)   \hfill Spr2020
SOC/STAT 221 (Statistical Methods for the Social Sciences)   \hfill Spr2019, Aut2019, Win2020
IS 300 (Introduction to Information Systems), Lab section (MS Excel, Access)  \hfill Aut2017/2020
QMETH 201 (Introduction to Statistical Methods)   \hfill Aut2018
ECON 300 (Intermediate Microeconomics)     \hfill Win 2017, Spr2017, Win2018, Spr2018
ECON 201 (Introductory Macroeconomics)  \hfill Spr2016, Aut2016
ECON 200 (Introductory Microeconomics)   \hfill Win2016

## Consultant
item Econometric Consultant for Honors Students Theses in Economics     \hfill Win2019, Spr2019


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
